<div class="d-flex" style="align-items: center;height: 100vh;">
    <div class="col-5">
        <img src='/images/man-doing-window-shopping.png' alt="" srcset="">
    </div>
    <div class="col-6">
        <main class="mt-3 alert alert-primary responsive-container ">
            <h2 class="p-3">Welcome to ETM Mart</h2>
            <p class="p-3">To use the ETM mart you have to authorized with user</p>
        </main>
    </div>
</div>