@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:root {
  --grey: #2a2a2a;
  --blue: #1fb5bf;
  --light-grey: #545454;
  --dark-grey: #1f1f1f;
  --background-color: #ffffff;
  --text-color: #000000;
  --heading-color: #ffffff;
}

body.dark-theme {
  --background-color: #1f1f1f;
  --text-color: #e0e0e0;
  --grey: #1f1f1f;
  --blue: #4a90e2;
  --light-grey: #a0a0a0;
  --dark-grey: #0f0f0f;
  --heading-color: #a0a0a0; /* Adjust heading color for dark theme */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.log-form {
  padding: 0;
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
}

@media (max-width: 40em) {
  .log-form {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0;
    transform: translate(0, 0);
  }
}

.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}

.log-form h2 {
  color: var(--heading-color);
  font-family: 'Open Sans Condensed';
  font-size: 1.35em;
  background: var(--grey);
  text-transform: uppercase;
  padding: .75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid var(--dark-grey);
  margin: 0;
  font-weight: 200;
}

.log-form input {
  display: block;
  width: 100%;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  color: #757575;
}

.log-form input:focus {
  outline: none;
}

.log-form .btn {
  display: inline-block;
  background: var(--blue);
  border: 1px solid #15989e;
  padding: .5em 2em;
  color: white;
  margin-right: .5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.log-form .btn:hover {
  background: #22c1c9;
}

.log-form .btn:active {
  background: var(--blue);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.log-form .btn:focus {
  outline: none;
}

.log-form .forgot {
  color: #23c4ce;
  line-height: .5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: .75em;
  float: right;
}

.log-form .forgot:hover {
  color: #1a9ca3;
}

.theme-switch {
  position: absolute;
  top: 10px;
  right: 10px;
}

.alert {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
